.mainCalc {
  box-sizing: border-box;
  width: 300px;
}

.screen-row-input {
  height: 35px;
  width: 290px;
  text-align: right;
  font-size: 25px;
  border: 5px solid black;
  user-select: none;
}

.screen-row-output {
  height: 35px;
  width: 290px;
  text-align: right;
  font-size: 25px;
  border: 5px solid black;
  user-select: none;
}

button {
  width: 75px;
  background: greenyellow;
  border: 1px solid black;
  padding: 10px 20px;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  user-select: none;
}

.operator {
  background-color: orange;
  color: black;
}

.special-button {
  width: 150px;
  background-color: yellow;
}

button:disabled {
  background-color: grey;
}

button:active {
  background: mediumpurple;
  color: antiquewhite;
}

.sebastian-pacurar {
  font-size: 20px;
  font-weight: bold;
  background: white;
  width: 50%;
  padding: 10px 10px;
  margin: 10px auto;
}